@media (max-width: 992px) {
    nav {
        flex-direction: column;
    }

    .toolbox {
        display: block;
        text-align: center;
    }

    .toolbox > div {
        margin: 10px 0;
    }

    .speed {
        display: none;
    }
}